body {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  margin: 0 0 0 0;
  color: #fff;
  background-color: black;
}

/*  */
/* .container {
  max-width: 320px;
} */

/* @media screen and (min-width: 600px) {
  .container {
    max-width: 600px;
  }
}

@media screen and (min-width: 900px) {
  .container {
    max-width: 900px;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
} */
/*  */

a {
  text-decoration: none;
  /* color: black; */
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  /* border: 2px solid tomato; */
}

.logo-svg {
  cursor: pointer;
  fill: #fff;

  transition: 0.3s;
}

.logo-svg:hover,
.logo-svg:focus {
  fill: #b4b3b3;
}

.nav__bar {
  background: #181818;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px 0 32px;
}

.nav-link {
  display: flex;
  align-items: center;
  margin: 17px 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.nav-link__item {
  color: #ffffff;
  margin-right: 32px;
  transition: 0.3s;

  padding: 17px 0;
}

.nav-link__item:hover,
.nav-link__item:focus {
  color: #b4b3b3;
}

/* !? */
.nav-link__item--first {
  margin-right: 56px;
}
/*  */

.nav__butt {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;

  color: #000000;
  background: #ffffff;
  border-radius: 14px;
  border: none;
  cursor: pointer;

  padding: 13px 20px;
  transition: 0.3s;
}

.nav__butt:hover,
.nav__butt:focus {
  color: #fff;
  background: #3b3a3a;
}

.nav__img {
  height: 31px;
  width: 128px;
}

.hero {
  width: 100%;
  height: 100vh;

  background: url("./img/hero.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.hero__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 71px;

  position: absolute;
  left: calc(50% - 580px / 2);
  top: calc(100vh - 45%);

  z-index: 0;

  color: #ffffff;
}

.hero__h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #c0c0c0;
}

.hero__h1 {
  font-weight: 400;
  font-size: 54px;
  line-height: 59px;
  color: #ffffff;
  margin-bottom: 18px;
}

.hero__span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #c0c0c0;
  width: 580px;
}

/* ! */
.photo__data__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;

  position: absolute;
  left: 70%;
  top: calc(100vh - 5%);

  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
}
/*  */

.photo__data__item {
  margin-left: 25px;
}

.photo__data__item:first-child {
  margin: 0;
}

.whatwedo {
  margin-top: 112px;
  margin-bottom: 100px;
}

.whatwedo__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 42px;
}

.whatwedo__h1 {
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 15px;
}

.whatwedo__h2 {
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  color: #c0c0c0;
}

.whatwedo__img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0px 16px;
}

.whatwedo__img-item {
  position: relative;

  flex-basis: calc((100% - 16px) / 2);
}
.whatwedo__img-content {
  position: absolute;
  display: flex;
  flex-direction: column;

  bottom: 4%;
  padding: 30px;
}

.whatwedo__h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;

  margin-bottom: 10px;
  color: #ffffff;
}

.whatwedo__span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  margin-bottom: 15px;
  color: #c0c0c0;
}

.mane-btn-style {
  background: #ffffff;
  border-radius: 14px;
  width: 143px;
  height: 42px;
  padding: 11px 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.mane-btn-style:hover,
.mane-btn-style:focus {
  background: #eceaea;
}

.whatwedo__span--item-one {
  width: 501px;
}
.whatwedo__span--item-two {
  width: 514px;
}
.whatwedo__span--item-three {
  width: 516px;
}
.whatwedo__span--item-four {
  width: 480px;
}

.sunset-mount {
  width: 100%;
  height: 100vh;

  position: relative;

  background: url("./img/sunset-at-mount-fuji.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

/*  */
.landscape-content {
  position: absolute;
  left: 74%;
  top: calc(50% - 20px / 2 - 30px);
}

.landscape__h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #ffffff;
}

.landscape__p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  width: 298px;
  color: #c0c0c0;
}

/* The tools that we use. */
.whatweuse {
  display: flex;
}

.whatweuse__1st {
  padding: 173px 41px 153px 0;
  /* margin-top: 173px;
  margin-bottom: 153px;
  margin-right: 41px; */
}

.whatweuse__2nd {
  height: 540px;
}

.whatweuse__h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;

  margin-bottom: 6px;
  color: #c0c0c0;
}

.whatweuse__h2 {
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;

  margin-bottom: 14px;
}

.whatweuse__p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  margin-bottom: 20px;
  width: 514px;
}

.whatweuse__img {
  background-size: cover;
}

/* Monstera Leafs */
.monstera-leafs {
  width: 100%;
  height: 100vh;

  position: relative;

  background: url("./img/monstera-leafs.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

/* Past clients */

.past-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 113px 0 140px 0;
}

.past-clients__h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 12px;
}

.past-clients__h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;

  color: #c0c0c0;
}

/* Star fall in the Himalayas */
.star-fall {
  width: 100%;
  height: 100vh;

  position: relative;

  background: url("./img/star-fall.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

/* Need help with photography or videography? */
.helpwphoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 113px 0 108px 0;
}

.helpwphoto__h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;

  margin-bottom: 15px;
}

.helpwphoto__p {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;

  margin-bottom: 22px;
  color: #c0c0c0;
}

/* footer */
.footer {
  padding: 100px 0 104px 0;
}

.logo-block {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 36px;
}

.nav__img--footer {
  margin-bottom: 20px;
}

.first-block__p {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;

  color: #c0c0c0;
}

/* second-block */

.second-block__h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;

  margin-bottom: 10px;

  color: #c0c0c0;
}

.block__item {
  margin-bottom: 10px;
  line-height: 20px;
}

.block__item:last-child {
  margin: 0;
}

.line {
  width: 100%;
  border-top: 2px solid #474747;
  margin-bottom: 36px;
}

.subscribe {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 32px;
}

.subscribe__h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.subscribe__p {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;

  color: #c0c0c0;
}

.licence {
  display: flex;
  justify-content: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #c0c0c0;
}

.past-clients__list {
  display: flex;
  align-items: center;
  margin-top: 82px;
  /* border: 2px solid rgb(83, 71, 255); */
}

.past-clients__svg {
  /* fill: white; */
  /* border: 2px solid rgb(206, 255, 71); */
}

.past-clients__item {
  margin-right: 109px;
  /* border: 2px solid tomato; */
}

.past-clients__item:last-child {
  margin: 0;
}

@media media-type and (media-feature) {
  /*
  * Набір CSS-правил, які потрібно застосувати до документа,
  * якщо дотримуються умови перевірки медіатипу і виразу
  */
}